<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<string>DashboardViewController</string>
	<key>setting</key>
	<string>SettingViewController</string>
	<key>news_content</key>
	<string>NewsContentViewController</string>
	<key>news</key>
	<string>NewsViewController</string>
	<key>competition_detail</key>
	<string>RootViewController</string>
	<key>competition</key>
	<string>CompetitionViewController</string>
	<key>login</key>
	<string>LoginInViewController</string>
	<key>register</key>
	<string>RegisterViewController</string>
	<key>forget</key>
	<string>ForgetPasswordViewController</string>
	<key>usercenter</key>
	<string>UserCenterTableViewController</string>
	<key>memberMatch</key>
	<string>MemberMatchViewController</string>
	<key>mofifyName</key>
	<string>ModifyNameViewController</string>
	<key>singleChat</key>
	<string>SingleChatViewController</string>
	<key>groupChat</key>
	<string>GroupChatViewController</string>
	<key>memberList</key>
	<string>MemberListViewController</string>
</dict>
</plist>
