<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<string>DashboardViewController</string>
	<key>about</key>
	<string>NewAboutViewController</string>
	<key>news_content</key>
	<string>NewsContentViewController</string>
	<key>news</key>
	<string>NewsViewController</string>
	<key>competition_detail</key>
	<string>RootViewController</string>
	<key>competition</key>
	<string>CompetitionViewController</string>
</dict>
</plist>
