<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<string>TJDashboardViewController</string>
	<key>setting</key>
	<string>TJSettingViewController</string>
	<key>news_content</key>
	<string>TJNewsContentViewController</string>
	<key>news</key>
	<string>TJNewsViewController</string>
	<key>competition_detail</key>
	<string>TJRootViewController</string>
	<key>competition</key>
	<string>TJCompetitionViewController</string>
	<key>login</key>
	<string>TJLoginInViewController</string>
	<key>register</key>
	<string>TJRegisterViewController</string>
	<key>forget</key>
	<string>TJForgetPasswordViewController</string>
	<key>usercenter</key>
	<string>TJUserCenterTableViewController</string>
	<key>memberMatch</key>
	<string>TJMemberMatchViewController</string>
	<key>mofifyName</key>
	<string>TJModifyNameViewController</string>
	<key>singleChat</key>
	<string>TJSingleChatViewController</string>
	<key>groupChat</key>
	<string>TJGroupChatViewController</string>
	<key>memberList</key>
	<string>TJMemberListViewController</string>
	<key>userCenter</key>
	<string>TJMemberCenterTableViewController</string>
	<key>matchDay</key>
	<string>TJMatchDayViewController</string>
</dict>
</plist>
